
<div class="personal-info-container">
    <h1>FRONTEND DEVELOPER</h1>
    <div class="user-wrapper">
        <div class="user-photo">
            <img src="../../../assets/images/userPhoto/0.jpg" alt="My Photo" class="photo">
        </div>
        <div class="user-info">
            <h2>KIRA SELETSKA</h2>
            <p>kira.seletska&#64;gmail.com</p>
            <p>+49(0160)91429749</p>
        </div>
      </div>
    <div class="skills">
      <img src="../../../assets/icons/icons_scills/logo-javascript.svg" alt="JavaScript" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/typescript.svg"  alt="TypeScript" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/react-2.svg"  alt="React" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/angular.svg" alt="Angular" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/redux.svg"  alt="Redux" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/sass-1.svg"  alt="Sass" class="skill-icon">
    </div>
  </div>
