
<div class="personal-info-container">
  <h1>

    <span class="first-word">FRONTEND </span>
      <span class="second-word"> DEVELOPER </span>
    </h1>
   <!--
<h1>
      <span>f</span>
      <span>r</span>
      <span>o</span>
      <span>n</span>
      <span>t</span>
      <span>e</span>
      <span>n</span>
      <span>d</span>
<span>d</span>
<span>e</span>
<span>v</span>
<span>e</span>
<span>l</span>
<span>o</span>
<span>p</span>
<span>e</span>
<span>r</span>

    </h1>
   --> 
   
    <div class="user-wrapper">
        <div class="user-photo">
            <img src="../../../assets/images/userPhoto/0.jpg" alt="My Photo" class="photo">
        </div>
        <div class="user-info">
           
           <!--
<p>kira.seletska&#64;gmail.com</p>
            <p>+49(0160)91429749</p>
           --> 
           <p>If work does not bring you joy, then you will remain unhappy and poor. I am a happy person</p>
        </div>
      </div>
      <h2>KIRA SELETSKA</h2>
    <div class="skills">
      <img src="../../../assets/icons/icons_scills/logo-javascript.svg" alt="JavaScript" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/typescript.svg"  alt="TypeScript" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/react-2.svg"  alt="React" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/angular.svg" alt="Angular" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/redux.svg"  alt="Redux" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/sass-1.svg"  alt="Sass" class="skill-icon">
    </div>
  </div>
