<h1>{{ title }}</h1>

<!-- Форма для добавления новой задачи -->
<input [(ngModel)]="newTodo" placeholder="Enter new todo">
<button (click)="addTodo()">Add Todo</button>

<!-- Список задач -->
<div *ngFor="let todo of todos" [class.done]="todo.completed"> <!-- Используем todo.completed для добавления класса "done" -->
  <input type="checkbox" [checked]="todo.completed" (change)="toggleTodoCompleted(todo)"> <!-- Используем todo.completed и обработчик (change) -->
  <span>{{ todo.title }}</span>
  <button (click)="removeTodo(todo)">Delete</button>
</div>
