div {
    display: block;
    width: 200px;
    height: 200px;
   
  }
  .green{
    background-color: green;
  }
  .red{
    background-color: rgb(148, 27, 27);

  }
  .blue{
    background-color: aqua;
  }
  .yellow{background-color: rgb(202, 218, 31);}
  .pink{background-color: rgb(255, 0, 238);}
  .grey{background-color: rgb(104, 105, 105);}
  .purple{background-color: rgb(82, 40, 100);}
