
<div class="personal-info-container">
  <h1>

    <span class="first-word">FRONTEND </span>
      <span class="second-word"> DEVELOPER </span>
    </h1>
    <div class="user-wrapper">
        <div class="user-photo">
           <img [src]="personalPhoto" alt="My Photo" class="photo">
        </div>
    
           <p class="user-info">{{personalHello}}</p>
      
      </div>
      <h2>KIRA SELETSKA</h2>
    <div class="skills">
      <img src="../../../assets/icons/icons_scills/javascript.svg" alt="JavaScript" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/typescript.svg"  alt="TypeScript" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/react.svg"  alt="React" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/angular.svg" alt="Angular" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/redux.svg"  alt="Redux" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/mobx.svg"  alt="MobX" class="skill-icon">
      <img src="../../../assets/icons/icons_scills/sass.svg"  alt="Sass" class="skill-icon">
    </div>
  </div>
